@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{

    --main-colour: #4b594c;
    --background: #f5f5f5;
    --secondary-bg: #c3c2c2;
    --secondary-bg-transparent: #c3c2c284;

    --accent1: #60a8ff;

    --text-colour: #121212;
    --text-colour-secondary: #424242;

    --box-shadow: rgba(100, 100, 111, 0.2);
    
}

.dark-mode{
    
    --main-colour: #434f44;
    --background: #121212;
    --secondary-bg: #313131;
    --secondary-bg-transparent: #31313184;

    --text-colour: #f5f5f5;
    --text-colour-secondary: #b9b7b7;

    --box-shadow: rgba(0, 0, 0, 0.2);

    /* Sizes */
    --small-4px: .25em;
    --small-8px: .5em;
    --text-16px: 1em;
    --text-24px: 1.5em;
    --heading-32px: 2em;
    --main_heading-64px: 4em;

}

*{
    padding: 0;
    margin: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background);
}

.navbar-margin{
    margin-top: 5em;
}

.stats-bar{

    width: calc(100% - 6em);
    margin-left: 2em;

    padding: 0 1em;

    height: 3em;

    background-color: var(--secondary-bg);

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: var(--box-shadow) 0px 7px 29px 0px;
}

.stats-bar h1{

    color: var(--text-colour);

}

.stats-bar h1 span{
    font-size: .4em;
}

.stats-bar .actions{
    display: flex;

    gap: 2em;
}

.stats-bar .search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    height: 2em;

}

.stats-bar .search svg{
    background-color: var(--accent1);

    width: 2em;
    height: 2em;

    border-radius: .5em 0 0 .5em;
    fill: #121212;
}

.stats-bar .search input{

    background-color: var(--background);
    color: var(--text-colour);

    height: 100%;

    outline: none;
    border: none;

    width: 15em;

    border-radius: 0 .5em .5em 0;

    padding-left: .5em;
}

.stats-bar button{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;

    border: none;
    padding: .2em;

    border-radius: .5em;
    background-color: var(--accent1);
    
    color: #121212;
    cursor: pointer;

}

.stats-bar button:hover{
    filter: brightness(.8);
}

.stats-bar button svg{
    fill: #121212;
}

.books-grid{
    width: calc(100% - 4em);
    height: 30em;
    
    margin-left: 2em;
    padding-top: .5em;
    
    display: grid;
    grid-template-columns: repeat(4, 25%);

    row-gap: 2em;
    column-gap: .5em;

    overflow-y: scroll;
    overflow-x: hidden;

    box-shadow: var(--box-shadow) 0px 7px 29px 0px;

}

.books-grid::-webkit-scrollbar{
    width: .5em;
}
.books-grid::-webkit-scrollbar-track{
    background-color: var(--secondary-bg);

}

.books-grid::-webkit-scrollbar-thumb{
    background-color: var(--text-colour-secondary);
}

.books-grid .grid-item{

    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

}

.books-grid .grid-item .book{

    background-color: var(--secondary-bg);

    width: 20em;
    height: 22em;

    padding-bottom: 1em;

    position: relative;

    z-index: -1;

    box-shadow: var(--box-shadow) 0px 7px 29px 0px;
}

.book .image{
    height: 15em;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.book .image img{
    width: 100%;
    height: 15em;
    object-fit: cover;
}

.book .image svg{

    width: 8em;
    height: 8em;

    fill: #121212;

}

.book .title{

    height: 2.5em;
    width: calc(100% - 1em);

    padding: 0 .5em;

    overflow: hidden;

    margin-top: .3em;

}

.book .title p{
    font-size: 1.2em;
    line-height: 1em;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    line-clamp: 2;
    text-overflow: ellipsis;

    color: var(--text-colour);
}

.book .tags{
    
    height: 2em;
    width: calc(100% - 1em);
    padding: 0 .5em;

    margin-top: .3em;

}

.book .tags ul{
    display: flex;
    gap: .2em;
}

.book ul li{
    list-style: none;
    padding: .1em;
    border-radius: .2em;

    margin-top: .3em;

}

.book .state{

    height: 2em;
    width: calc(100% - 1em);
    padding: 0 .5em;

    margin-top: .3em;

}

.book .state p{
    font-size: 1em;
    font-weight: bold;

    width: fit-content;
    padding: .2em .5em;

    border-radius: .4em;

}

.book .state p.reading{
    background-color: #69247C;
}
.book .state p.read{
    background-color: #5CB338;
}
.book .state p.not-read{
    background-color: #F93827;
}

.book button{
    margin-left: .5em;

    position: absolute;
    bottom: 1em;
    right: 1.5em;

    margin-top: .3em;

    border: none;
    border-radius: .5em;

    padding: .5em;
    background-color: var(--accent1);
    font-weight: bolder;

    cursor: pointer;

}

.book button:hover{
    filter: brightness(.8);
}

.image-container{
    height: 100%;

    display: flex;
    align-items: center;
    justify-self: center;

}

.image-container #thumbnail{

    display: none;
    height: 20em;
    width: 15em;

    object-fit: cover;

}

.image-container input[type='file']{
    display: none;
}

.image-container label{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 20em;
    width: 15em;

    border: .1em dashed var(--text-colour-secondary);
    cursor: pointer;

    position: relative;

}

.image-container label #cancel{
    
    position: absolute;

    justify-content: center;
    align-items: center;

    width: 2em;
    height: 2em;

    bottom: 0em;
    right: 0em;

    display: none;

    border-radius: .5em 0 0 0;

    background-color: var(--secondary-bg-transparent);

}

.image-container label #cancel svg{
    width: 1.5em;
    height: 1.5em;
}

.image-container label svg{
    fill: var(--text-colour);

    height: 7em;
    width: 7em;
}

.image-container label span{
    color: var(--text-colour);
    font-size: 1.5em;
}

.form{

    height: calc(100% - 2em);
    width: calc(100% - 2em);

    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 1em 1em;
    
}

.form div.cell{
    width: 100%;
    height: fit-content;

    display: grid;

    grid-template-columns: 20% 80%;
}

.form div.w50{
    width: 50%;
}

.form div.w33{
    width: 33.33%;
}

.form label{
    color: var(--text-colour);
    margin-right: .5em;

    font-size: 1.5em;

}

.form input{
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: .5em;
    border-bottom: .1em solid var(--text-colour);

    box-sizing: border-box;

    color: var(--text-colour);
    font-size: 1.5em;

    flex: 1;
}

.form textarea{
    background-color: transparent;
    border: .1em solid var(--text-colour);
    outline: none;
    padding-left: .5em;
    padding-top: .3em;
    box-sizing: border-box;
    color: var(--text-colour);
    font-size: 1em;

    height: 12em;
    resize: none;

}