@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{

    --main-colour: #4b594c;
    --background: #f5f5f5;
    --secondary-bg: #c3c2c2;

    --text-colour: #121212;
    
}

.dark-mode{
    
    --main-colour: #434f44;
    --background: #121212;
    --secondary-bg: #313131;
    
    --text-colour: #f5f5f5;

}

*{
    padding: 0;
    margin: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--background);
}